In [1]:
TRADEABLE = [
  "AAPL",
  "MSFT",
  "GOOG",
  "TSLA",
  "AMD",
  "AMZN",
  "DG",
  "KDP",
  "LLY",
  "NOC",
  "NVDA",
  "PGR",
  "TEAM",
  "UNH",
  "WM",
  "CWEG.L",
  "IWDA.AS",
  "EEM",
  "BTC-USD",
  "ETH-USD",
  "AVAX-USD"
]

In [2]:
import yfinance as yf
import pandas as pd

In [4]:
df = yf.download(TRADEABLE, start="2019-01-01", end="2022-11-01", group_by="ticker", auto_adjust=True, threads=True)
df.head()

[*********************100%***********************]  21 of 21 completed

                 TSLA                                                \
                 Open       High        Low      Close       Volume
Date
2018-12-31  22.519333  22.614000  21.684000  22.186666   94534500.0
2019-01-01        NaN        NaN        NaN        NaN          NaN
2019-01-02  20.406668  21.008667  19.920000  20.674667  174879000.0
2019-01-03  20.466667  20.626667  19.825333  20.024000  104478000.0
2019-01-04  20.400000  21.200001  20.181999  21.179333  110911500.0

                 GOOG                                               ...  \
                 Open       High        Low      Close      Volume  ...
Date                                                                ...
2018-12-31  52.548000  52.634998  51.179501  51.780499  29866000.0  ...
2019-01-01        NaN        NaN        NaN        NaN         NaN  ...
2019-01-02  50.828499  52.616001  50.785500  52.292500  30652000.0  ...
2019-01-03  52.049999  52.848999  50.703499  50.803001  36822000.0  ...
2019-01-04  51.629501  53.542000  51.370899  53.535500  41878000.0  ...

                 AAPL                                                \
                 Open       High        Low      Close       Volume
Date
2018-12-31  38.252319  38.452594  37.757666  38.061699  140014000.0
2019-01-01        NaN        NaN        NaN        NaN          NaN
2019-01-02  37.374013  38.329538  37.214758  38.105133  148158800.0
2019-01-03  34.741504  35.161357  34.263743  34.309589  365248800.0
2019-01-04  34.874213  35.844216  34.698070  35.774239  234428400.0

                 MSFT
                 Open       High        Low      Close      Volume
Date
2018-12-31  97.037550  98.100950  96.223237  97.305794  33173800.0
2019-01-01        NaN        NaN        NaN        NaN         NaN
2019-01-02  95.370608  97.478243  94.786217  96.874695  35329300.0
2019-01-03  95.897511  95.983736  93.119260  93.310867  42579100.0
2019-01-04  95.533479  98.206348  94.776644  97.650696  44060600.0

[5 rows x 105 columns]

In [9]:
df = df.bfill()
df = df.ffill()
df.head()

                 TSLA                                                \
                 Open       High        Low      Close       Volume
Date
2018-12-31  22.519333  22.614000  21.684000  22.186666   94534500.0
2019-01-01  20.406668  21.008667  19.920000  20.674667  174879000.0
2019-01-02  20.406668  21.008667  19.920000  20.674667  174879000.0
2019-01-03  20.466667  20.626667  19.825333  20.024000  104478000.0
2019-01-04  20.400000  21.200001  20.181999  21.179333  110911500.0

                 GOOG                                               ...  \
                 Open       High        Low      Close      Volume  ...
Date                                                                ...
2018-12-31  52.548000  52.634998  51.179501  51.780499  29866000.0  ...
2019-01-01  50.828499  52.616001  50.785500  52.292500  30652000.0  ...
2019-01-02  50.828499  52.616001  50.785500  52.292500  30652000.0  ...
2019-01-03  52.049999  52.848999  50.703499  50.803001  36822000.0  ...
2019-01-04  51.629501  53.542000  51.370899  53.535500  41878000.0  ...

                 AAPL                                                \
                 Open       High        Low      Close       Volume
Date
2018-12-31  38.252319  38.452594  37.757666  38.061699  140014000.0
2019-01-01  37.374013  38.329538  37.214758  38.105133  148158800.0
2019-01-02  37.374013  38.329538  37.214758  38.105133  148158800.0
2019-01-03  34.741504  35.161357  34.263743  34.309589  365248800.0
2019-01-04  34.874213  35.844216  34.698070  35.774239  234428400.0

                 MSFT
                 Open       High        Low      Close      Volume
Date
2018-12-31  97.037550  98.100950  96.223237  97.305794  33173800.0
2019-01-01  95.370608  97.478243  94.786217  96.874695  35329300.0
2019-01-02  95.370608  97.478243  94.786217  96.874695  35329300.0
2019-01-03  95.897511  95.983736  93.119260  93.310867  42579100.0
2019-01-04  95.533479  98.206348  94.776644  97.650696  44060600.0

[5 rows x 105 columns]

In [15]:
df = df.swaplevel(axis = 1)
df = df["Close"]
df.head()

,TSLA,GOOG,NVDA,CWEG.L,TEAM,IWDA.AS,DG,AVAX-USD,ETH-USD,KDP,...,UNH,AMZN,NOC,PGR,LLY,WM,AMD,BTC-USD,AAPL,MSFT
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-31,22.186666,51.780499,33.138931,21770.0,88.980003,43.435001,104.473694,4.896294,133.368256,23.552055,...,235.387085,75.098503,230.319290,52.125896,107.810768,83.338829,18.459999,3742.700439,38.061699,97.305794
2019-01-01,20.674667,52.292500,33.814117,22265.0,89.029999,43.435001,104.116028,4.896294,140.819412,23.221373,...,230.067444,76.956497,231.701767,51.175480,107.028168,83.085968,18.830000,3843.520020,38.105133,96.874695
2019-01-02,20.674667,52.292500,33.814117,22265.0,89.029999,43.435001,104.116028,4.896294,155.047684,23.221373,...,230.067444,76.956497,231.701767,51.175480,107.028168,83.085968,18.830000,3943.409424,38.105133,96.874695
2019-01-03,20.024000,50.803001,31.771175,22215.0,84.480003,42.785000,104.241684,4.896294,149.135010,23.138210,...,223.793488,75.014000,225.635803,50.311470,103.702187,82.861214,17.049999,3836.741211,34.309589,93.310867
2019-01-04,21.179333,53.535500,33.806675,22497.5,87.089996,43.779999,105.140648,4.896294,154.581940,23.618713,...,226.410782,78.769501,233.140656,51.460606,106.823219,85.061974,19.000000,3857.717529,35.774239,97.650696

In [16]:
for ticker in TRADEABLE:
    df[ticker + "_1week"] = df[ticker].shift(-7) # 1 week in the future
df.head()

,TSLA,GOOG,NVDA,CWEG.L,TEAM,IWDA.AS,DG,AVAX-USD,ETH-USD,KDP,...,PGR_1week,TEAM_1week,UNH_1week,WM_1week,CWEG.L_1week,IWDA.AS_1week,EEM_1week,BTC-USD_1week,ETH-USD_1week,AVAX-USD_1week
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-31,22.186666,51.780499,33.138931,21770.0,88.980003,43.435001,104.473694,4.896294,133.368256,23.552055,...,51.875332,92.709999,226.845428,85.268013,22880.0,43.994999,37.002193,4025.248291,151.699219,4.896294
2019-01-01,20.674667,52.292500,33.814117,22265.0,89.029999,43.435001,104.116028,4.896294,140.819412,23.221373,...,52.471500,94.820000,229.878448,86.476089,23115.0,44.195000,37.141716,4030.847900,150.359634,4.896294
2019-01-02,20.674667,52.292500,33.814117,22265.0,89.029999,43.435001,104.116028,4.896294,155.047684,23.221373,...,52.963989,95.809998,230.209183,86.035957,23320.0,44.450001,37.802132,4035.296387,150.803116,4.896294
2019-01-03,20.024000,50.803001,31.771175,22215.0,84.480003,42.785000,104.241684,4.896294,149.135010,23.138210,...,53.542881,95.500000,231.371384,87.272118,23295.0,44.535000,38.071884,3678.924561,128.625183,4.896294
2019-01-04,21.179333,53.535500,33.806675,22497.5,87.089996,43.779999,105.140648,4.896294,154.581940,23.618713,...,53.292309,95.650002,234.017014,87.702904,23090.0,44.680000,37.885849,3687.365479,127.548325,4.896294

In [17]:
df.corr()["TSLA_1week"].sort_values(ascending=False)

TSLA_1week        1.000000
TSLA              0.989376
AAPL_1week        0.963913
AAPL              0.960756
MSFT_1week        0.949777
MSFT              0.948657
NVDA_1week        0.929259
NVDA              0.927756
AMD               0.927516
IWDA.AS_1week     0.926267
GOOG              0.924618
GOOG_1week        0.924611
AMD_1week         0.924084
IWDA.AS           0.920827
UNH_1week         0.894191
UNH               0.893735
KDP_1week         0.888705
KDP               0.883216
DG                0.868188
TEAM              0.867778
DG_1week          0.866756
ETH-USD_1week     0.865120
TEAM_1week        0.861380
ETH-USD           0.860316
LLY               0.854709
LLY_1week         0.853625
WM_1week          0.849491
PGR_1week         0.847275
WM                0.845542
PGR               0.844157
BTC-USD           0.839402
BTC-USD_1week     0.838693
AMZN              0.781644
AMZN_1week        0.768850
AVAX-USD_1week    0.760396
AVAX-USD          0.751988
EEM               0.615894
EEM_1week         0.602242
NOC               0.586136
NOC_1week         0.584978
CWEG.L_1week      0.243929
CWEG.L            0.221529
Name: TSLA_1week, dtype: float64