In [3]:
import pandas as pd

nasdaq = pd.read_csv('nasdaq_screen.csv')
nasdaq.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$122.31,-1.170,-0.948%,3.620872e+10,United States,1999.0,1733059,Industrials,Electrical Products
1,AA,Alcoa Corporation Common Stock,$34.47,-1.040,-2.929%,6.202021e+09,NaN,2016.0,7271376,Industrials,Metal Fabrications
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.92,0.000,0.00%,1.240000e+09,NaN,2021.0,425413,Finance,Business Services
3,AACG,ATA Creativity Global American Depositary Shares,$1.72,-0.015,-0.865%,5.434957e+07,China,2008.0,11633,Consumer Discretionary,Service to the Health Industry
4,AACI,Armada Acquisition Corp. I Common Stock,$9.93,0.020,0.202%,2.056453e+08,United States,2021.0,454,Industrials,Consumer Electronics/Appliances

In [4]:
# download
DOWNLOAD = False
if DOWNLOAD:

    nasdaq = nasdaq.sort_values(by="Market Cap", ascending=False)
    nasdaq.head()
    # get all the data for them since 2010
    import yfinance as yf
    from pathlib import Path


    # keep only X biggest
    step = 1000
    for i in range(0,5000, step):
        filename = "data/nasdaq_prices_%s.csv.gz" % str(i+1)
        my_file = Path(filename)
        if not my_file.is_file():
            nasdaq_step = nasdaq.iloc[i:i+step]
            nasdaq_prices = yf.download(nasdaq_step['Symbol'].dropna().tolist(), start='2010-01-01', end='2022-12-31')
            # nasdaq_prices = nasdaq_prices.fillna(method="bfill")
            # nasdaq_prices = nasdaq_prices.fillna(method="ffill")
            # nasdaq_prices.index.levels[0].columns = nasdaq_prices.index.levels[0].columns.astype(str)
            # nasdaq_prices.index.levels[1].columns = nasdaq_prices.index.levels[1].columns.astype(str)
            print("shape: ", nasdaq_prices.shape)
            nasdaq_prices.to_csv(filename, compression = 'gzip')

In [5]:
! ls -lh /data

ls: cannot access '/data': No such file or directory

In [6]:
import glob
data = []
for file in glob.glob('./data/*.csv.gz'):
    print(file)
    data.append(pd.read_csv(file, index_col=0, header=[0,1], parse_dates=True, compression = 'gzip'))
data = pd.concat(data, axis=1)

# data.index = data.index.set_levels(data.index.levels[0].astype(str), level=0)
# data.index = data.index.set_levels(data.index.levels[1].astype(str), level=1)
# data.to_parquet("data/nasbig.parquet")
print(data.shape)
print(data.head())

./data/nasdaq_prices_1001.csv.gz
./data/nasdaq_prices_2001.csv.gz
./data/nasdaq_prices_3001.csv.gz
./data/nasdaq_prices_1.csv.gz
(3220, 24000)
           Adj Close                                                   \
                AAON       AAWW         AB      ABCB ABCL ABCM    ABG
Date
2009-12-31  5.154801  37.250000  10.276358  6.426569  NaN  NaN  11.53
2010-01-04  5.287043  38.200001  10.386068  6.561203  NaN  NaN  11.83
2010-01-05  5.133642  40.310001  10.375102  6.633008  NaN  NaN  12.39
2010-01-06  4.929989  38.630001  10.378757  6.767643  NaN  NaN  12.76
2010-01-07  5.112483  38.950001  10.386068  6.992035  NaN  NaN  13.05

                                     ...    Volume                          \
                  ABM       ABR ACA  ...      ZBRA ZEN  ZG  ZI        ZION
Date                                 ...
2009-12-31  15.783669  0.815225 NaN  ...  184800.0 NaN NaN NaN   3239800.0
2010-01-04  16.242056  0.807032 NaN  ...  168800.0 NaN NaN NaN   3974600.0
2010-01-05  16.122883  0.786549 NaN  ...  168800.0 NaN NaN NaN   5605500.0
2010-01-06  16.122883  0.876674 NaN  ...  385300.0 NaN NaN NaN  12615200.0
2010-01-07  16.330469  0.921737 NaN  ...  183600.0 NaN NaN NaN  24716800.0


            ZM      ZNH  ZS ZTO ZTS
Date
2009-12-31 NaN  48900.0 NaN NaN NaN
2010-01-04 NaN  48200.0 NaN NaN NaN
2010-01-05 NaN  61400.0 NaN NaN NaN
2010-01-06 NaN  85600.0 NaN NaN NaN
2010-01-07 NaN  29500.0 NaN NaN NaN

[5 rows x 24000 columns]

In [7]:
closes = data["Adj Close"]

# closes = closes.fillna(method="bfill")
# closes = closes.fillna(method="ffill")

## setting up a baseline 

1. equal invest into all back then to now
2. sharpe invest back then and hold
3. yearly sharpe rebalance

In [8]:
closes.head()

,AAON,AAWW,AB,ABCB,ABCL,ABCM,ABG,ABM,ABR,ACA,...,ZBRA,ZEN,ZG,ZI,ZION,ZM,ZNH,ZS,ZTO,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,5.154801,37.250000,10.276358,6.426569,NaN,NaN,11.53,15.783669,0.815225,NaN,...,28.350000,NaN,NaN,NaN,11.146583,NaN,12.823545,NaN,NaN,NaN
2010-01-04,5.287043,38.200001,10.386068,6.561203,NaN,NaN,11.83,16.242056,0.807032,NaN,...,28.670000,NaN,NaN,NaN,11.580979,NaN,13.289250,NaN,NaN,NaN
2010-01-05,5.133642,40.310001,10.375102,6.633008,NaN,NaN,12.39,16.122883,0.786549,NaN,...,28.620001,NaN,NaN,NaN,11.989312,NaN,13.505470,NaN,NaN,NaN
2010-01-06,4.929989,38.630001,10.378757,6.767643,NaN,NaN,12.76,16.122883,0.876674,NaN,...,28.400000,NaN,NaN,NaN,13.031859,NaN,13.638530,NaN,NaN,NaN
2010-01-07,5.112483,38.950001,10.386068,6.992035,NaN,NaN,13.05,16.330469,0.921737,NaN,...,27.690001,NaN,NaN,NaN,14.491426,NaN,13.563684,NaN,NaN,NaN

In [9]:
# 1. equal invest

startMoney = 10000
moneyPerStock = startMoney / len(closes.columns)
print("going to invest %.2f$ per stock" % moneyPerStock)
equalNrStocks = moneyPerStock / closes.iloc[0].dropna() 
print(equalNrStocks.sort_values(ascending=False).head(10))

going to invest 2.50$ per stock
SCWO    6.250000
VTNR    5.208333
ZYXI    5.191273
SIRI    4.413108
CPRX    3.968254
AMEH    3.571429
MDXG    3.424657
NEWP    3.086420
ABR     3.066638
NSSC    2.994012
Name: 2009-12-31 00:00:00, dtype: float64

In [10]:
# at the end
win = equalNrStocks * closes.iloc[-1]
print(win.sort_values(ascending=False).head(10))

LNG     169.580854
TPL     161.971698
AMEH    142.071427
NXST    123.699904
NOVT    116.752878
RGEN    114.823600
SLP     114.581483
DPZ     113.632996
PATK    106.976309
DXCM    103.258990
dtype: float64

In [11]:
## total win
print("total equal invest win is: %.2f$" % win.sum())

total equal invest win is: 22370.25$

## get a sharpe baseline

In [12]:
from pypfopt.efficient_frontier import EfficientFrontier
from datetime import datetime
from pypfopt import risk_models
from pypfopt import expected_returns
# make the estimation from then 

subcloses = closes[:datetime(2015,1,1)]
subcloses = subcloses.dropna(axis=1, how="all")

# first step: get highest gainers
gains = subcloses.iloc[-1] / subcloses.iloc[0]
gains = gains.sort_values(ascending=False)
print(gains.head(10))

# take only x highest gainers
subcloses = subcloses[gains.index[:200]]

subcloses = subcloses.fillna(method="ffill")
subcloses = subcloses.fillna(method="bfill")

# print(nasclose.describe())
assert not subcloses.isnull().values.any()
assert len(subcloses) > 0
print(subcloses.shape)
# print("something nan`", nasclose.isnull().values.any())
# print(nasclose.describe())
mu = expected_returns.mean_historical_return(subcloses)
S = risk_models.sample_cov(subcloses)
# contains errors
mu = mu.dropna()
subcloses = subcloses[mu.index]
mu = expected_returns.mean_historical_return(subcloses)
S = risk_models.sample_cov(subcloses)

assert not mu.isnull().values.any()
assert not S.isnull().values.any()


# Optimize for maximal Sharpe ratio
ef = EfficientFrontier(mu, S)
weights = dict(ef.max_sharpe())
# weights = dict(efcdar.min_cdar())
print(weights)

LNG     29.090909
ACAD    24.053029
JAZZ    20.777918
PATK    18.098762
REGN    16.966501
TARO    16.688063
MDXG    15.794520
ACHC    13.542035
NXST    13.209751
DPZ     12.461288
dtype: float64
(1262, 200)
{'LNG': 7.5509455551e-06, 'ACAD': 0.0029877239896751, 'JAZZ': 0.0249220634513196, 'PATK': 0.0055229124894073, 'REGN': 0.0151268857846902, 'TARO': 0.1693922717596115, 'MDXG': 0.0233405906849479, 'ACHC': 0.0442249190007878, 'NXST': 6.1199393953e-06, 'DPZ': 0.0726766690650664, 'PTSI': 0.0424449477647714, 'LAD': 9.6509615836e-06, 'AAL': 6.4433770102e-06, 'BHC': 0.0214478777299543, 'VRTS': 6.3223148407e-06, 'IDT': 6.4026972521e-06, 'URI': 1.03735930993e-05, 'UAA': 5.1740839205e-06, 'AMOT': 0.0309363688972999, 'SBGI': 8.7044547149e-06, 'VTNR': 0.0070203592813362, 'DDD': 1.30105722303e-05, 'BVH': 0.0112926154137204, 'WETF': 2.2127464905e-06, 'IMOS': 6.5033218151e-06, 'NBIX': 7.2832937403e-06, 'EXAS': 6.4229865281e-06, 'INCY': 5.6600689086e-06, 'CVI': 6.6943025625e-06, 'XPO': 0.0008390408624899, 'MBWM': 0.0464713607001309, 'AX': 4.9340608476e-06, 'CMG': 2.5831276643e-06, 'MLCO': 8.3008028952e-06, 'PII': 5.0560678715e-06, 'SIMO': 7.7156978236e-06, 'BBWI': 3.9224943517e-06, 'GTN': 1.3893848302e-05, 'HSTM': 4.7726116184e-06, 'RUTH': 8.3586049067e-06, 'WAL': 8.8086949389e-06, 'DDS': 5.0088863599e-06, 'WSBF': 0.0054126095913482, 'TCX': 0.0355299287873226, 'ULTA': 4.3110779243e-06, 'ALK': 5.452703354e-06, 'HCI': 0.015436096095294, 'HAIN': 3.3293008158e-06, 'DXCM': 5.7351320407e-06, 'MANH': 5.2175389863e-06, 'ENLC': 7.8790500273e-06, 'ABG': 8.5283004497e-06, 'CSII': 4.870824234e-06, 'WNC': 1.39745523105e-05, 'CVLG': 6.2670842348e-06, 'DORM': 8.9071840799e-06, 'AMEH': 0.000743408902694, 'BIIB': 2.2410650717e-06, 'ALKS': 4.645790385e-06, 'SAM': 0.0085037368529163, 'NFLX': 0.0036030412251013, 'TSCO': 3.7764490248e-06, 'STZ': 2.5274432779e-06, 'EGHT': 8.3755007588e-06, 'UHAL': 7.7195219647e-06, 'MIDD': 6.138030498e-06, 'AXON': 5.5751900623e-06, 'TDG': 3.4903014837e-06, 'ILMN': 4.0435468416e-06, 'SIRI': 3.8102845701e-06, 'AVGO': 4.9326707892e-06, 'EXR': 4.5961794878e-06, 'FL': 5.1999935964e-06, 'ODFL': 6.3740622153e-06, 'MNST': 0.0016982398954441, 'NOVT': 5.1502257772e-06, 'OZK': 4.6574679143e-06, 'TREE': 2.1792220493e-06, 'SAIA': 9.2585927154e-06, 'IONS': 6.6224432764e-06, 'BIDU': 6.2394421754e-06, 'SLP': 0.0414435304109372, 'CSV': 1.6310854205e-06, 'MKTX': 5.2483991072e-06, 'ENSG': 4.5674128512e-06, 'ALNY': 7.7237030816e-06, 'BXMT': 7.7316661184e-06, 'TYL': 5.0969719025e-06, 'OPK': 6.1353519738e-06, 'WLK': 8.5508821716e-06, 'ANIK': 3.4246496153e-06, 'AVNT': 9.504041066e-06, 'FUN': 0.0094699720515299, 'BKNG': 4.0722892552e-06, 'GBX': 1.45806492778e-05, 'PLUS': 4.1710677985e-06, 'UAL': 5.8222204194e-06, 'SWKS': 8.7839063834e-06, 'PPBI': 0.0573854862145558, 'SIG': 5.590199416e-06, 'CAR': 1.11087615429e-05, 'ORLY': 0.0480841539892679, 'DLX': 8.1637471461e-06, 'KWR': 1.10230857295e-05, 'RAD': 6.5280029949e-06, 'CGNX': 8.6635734279e-06, 'STGW': 6.8966890983e-06, 'SMP': 1.11689118811e-05, 'CNC': 4.8909322439e-06, 'PZZA': 2.7723669187e-06, 'SPNS': 0.0061653771879177, 'ET': 1.7339462132e-06, 'SSYS': 1.20275229548e-05, 'RGEN': 2.0047309738e-06, 'MMP': 0.0815461836028978, 'BMRN': 3.8417683256e-06, 'UVE': 5.3941273164e-06, 'MGA': 6.0808543031e-06, 'HBI': 4.9328119644e-06, 'CLFD': 4.9769527125e-06, 'PSMT': 4.9485768941e-06, 'DFS': 5.6252963621e-06, 'MEI': 1.0924835719e-05, 'CPRX': 2.1291094455e-06, 'DENN': 6.8074790051e-06, 'NVO': 2.2676486646e-06, 'WINA': 3.7470374494e-06, 'AGM': 8.7366276726e-06, 'TNL': 6.7470468031e-06, 'IT': 4.0149843313e-06, 'GIII': 7.991794092e-06, 'ROST': 1.6693082443e-06, 'ASGN': 1.09632740968e-05, 'TRS': 1.05662695227e-05, 'IOSP': 7.197315437e-06, 'THRM': 9.4940661321e-06, 'DIN': 7.41259078e-06, 'DK': 7.7485170079e-06, 'SHW': 2.2585878295e-06, 'PGTI': 6.4515443909e-06, 'VFC': 3.5747063204e-06, 'MMS': 3.9633618516e-06, 'LBTYB': 0.0350161543927476, 'TRTN': 8.6243653384e-06, 'OSPN': 9.384528176e-06, 'LBTYA': 3.703606095e-06, 'IPGP': 8.8370528627e-06, 'SWIR': 5.6941598159e-06, 'LVS': 7.2276390245e-06, 'TJX': 1.9644941636e-06, 'EAT': 4.4350680281e-06, 'BFH': 4.6136476361e-06, 'LBTYK': 3.6492935087e-06, 'PBH': 7.1728925257e-06, 'SUI': 5.11711567e-06, 'REX': 7.5446543099e-06, 'PPG': 4.8035756715e-06, 'CSGP': 5.7524747951e-06, 'DAL': 6.4083727888e-06, 'DLTR': 0.027171809687471, 'DY': 8.9308774855e-06, 'ABMD': 7.2445930226e-06, 'GILD': 2.8002518755e-06, 'TREX': 6.914243093e-06, 'NC': 1.01374002203e-05, 'WAB': 6.3520936164e-06, 'AER': 6.4979358917e-06, 'ENOV': 6.4650518303e-06, 'STX': 6.6380477411e-06, 'COO': 3.6048148984e-06, 'PRGO': 3.0804886556e-06, 'M': 5.0148355492e-06, 'DJCO': 0.0266718704537835, 'AOS': 6.4989215482e-06, 'CSWC': 5.451571675e-06, 'HEES': 1.43230873603e-05, 'CBRL': 3.8071572044e-06, 'RDNT': 6.2742517378e-06, 'ASML': 5.9345679733e-06, 'CECE': 3.6024049867e-06, 'SNBR': 9.186973161e-06, 'HBNC': 0.0490001223583913, 'ABR': 4.4005927984e-06, 'AEL': 7.4512261205e-06, 'BC': 1.24988494853e-05, 'AAON': 8.5906234519e-06, 'UNP': 5.1337781848e-06, 'HD': 3.0424320993e-06, 'JACK': 4.6302705857e-06, 'FR': 9.5663534781e-06, 'AYI': 7.3270191821e-06, 'LGND': 6.434245518e-06, 'BGS': 3.7211845992e-06, 'RGR': 5.9378850271e-06, 'FNF': 3.4108034594e-06, 'HIMX': 4.303074666e-06, 'WSM': 5.5815090315e-06, 'CNXN': 7.4651249113e-06, 'TPL': 0.0274235235934752, 'SBH': 4.9664798312e-06}

In [13]:
from datetime import date
# simulate that fuck 
# 2015 - 2022
# find i position where date index of closes is 2015
start_i = len(subcloses)

startMoney = 10000
nrStocks = dict()
for stock, weight in weights.items():
    # print(stock, weight)
    nrStocks[stock] = startMoney * weight / closes[stock].iloc[start_i]
# sell
win = dict()
for stock, weight in weights.items():
    win[stock] = nrStocks[stock] * closes[stock].iloc[-1]
    
# print(win)
print("total win is: %.2f$" % sum(win.values()))
win = pd.Series(win)
win = win.sort_values(ascending=False)
print("best positions: ")
print(win.head(20))

total win is: 22302.56$
best positions:
TPL     4400.438425
SLP     3387.867019
DPZ     2647.544682
ORLY    1796.191325
PPBI    1239.584885
PTSI    1012.265888
HBNC     944.680136
MBWM     870.803540
TCX      764.284953
MMP      736.112200
AMOT     626.655013
ACHC     590.378339
DLTR     532.891926
TARO     401.301181
DJCO     289.534266
REGN     260.162069
JAZZ     196.625532
SPNS     191.823162
HCI      189.001546
NFLX     177.229892
dtype: float64

In [14]:
# just nasdaq
import yfinance as yf
naspure = yf.download("^IXIC", start='2010-01-01', end='2022-12-31')
nrStocks = startMoney / naspure["Adj Close"].iloc[0]
win = nrStocks * naspure["Adj Close"].iloc[-1]
print("just buying and holding nasdaq would have been: ", win)

[*********************100%***********************]  1 of 1 completed
just buying and holding nasdaq would have been:  48703.876447397895

In [15]:
# calculate best possible case
cleancloses = closes.fillna(method="ffill")
cleancloses = cleancloses.fillna(method="bfill")
cleancloses = cleancloses.dropna(axis=1, how="all")
# any nan in there?

allwin = cleancloses.iloc[-1] / cleancloses.iloc[0] 

biggestGainers = allwin.sort_values(ascending=False).head(5)
print(biggestGainers)

PRTA           inf
TSLA    180.709464
LNG      67.832342
TPL      64.788679
AMEH     56.828571
dtype: float64

In [16]:
# best possible case would have been tesla
# with * 180 the invest
teslaWin = biggestGainers["TSLA"] * 10000 # startmoney
print("best possible case with TSLA would have been %.2f$" % teslaWin)

best possible case with TSLA would have been 1807094.64$

## baseline compared:

- equal invest in 2010: 
    - 22370.25$
    - + 12.360$; + 123%
    - + 10 Pct per year
- sharpe ab 2015
    - 22302.53$
    - + 12.370$; + 123%
    - + 10 pct per year
- just hold nasdaq
    - 48703$
    - 38.703$ win; +387%
    - + 32% per year
- best possible case (TSLA)
    - 1.807.094.64$
    - + 18.070% win
    - + 1.500% win per year

## lightgbm: 

train the model to predict the final multiplier

In [17]:
y = allwin.sort_values(ascending=False)[1:] # lazy drop of PRTA inf
y

TSLA    180.709464
LNG      67.832342
TPL      64.788679
AMEH     56.828571
NXST     49.479962
           ...
EGLE      0.000830
GEVO      0.000024
CIO      -7.526252
AIV     -44.603280
ITRN    -58.510083
Length: 3992, dtype: float64

In [18]:
data.head()

           Adj Close                                                   \
                AAON       AAWW         AB      ABCB ABCL ABCM    ABG
Date
2009-12-31  5.154801  37.250000  10.276358  6.426569  NaN  NaN  11.53
2010-01-04  5.287043  38.200001  10.386068  6.561203  NaN  NaN  11.83
2010-01-05  5.133642  40.310001  10.375102  6.633008  NaN  NaN  12.39
2010-01-06  4.929989  38.630001  10.378757  6.767643  NaN  NaN  12.76
2010-01-07  5.112483  38.950001  10.386068  6.992035  NaN  NaN  13.05

                                     ...    Volume                          \
                  ABM       ABR ACA  ...      ZBRA ZEN  ZG  ZI        ZION
Date                                 ...
2009-12-31  15.783669  0.815225 NaN  ...  184800.0 NaN NaN NaN   3239800.0
2010-01-04  16.242056  0.807032 NaN  ...  168800.0 NaN NaN NaN   3974600.0
2010-01-05  16.122883  0.786549 NaN  ...  168800.0 NaN NaN NaN   5605500.0
2010-01-06  16.122883  0.876674 NaN  ...  385300.0 NaN NaN NaN  12615200.0
2010-01-07  16.330469  0.921737 NaN  ...  183600.0 NaN NaN NaN  24716800.0


            ZM      ZNH  ZS ZTO ZTS
Date
2009-12-31 NaN  48900.0 NaN NaN NaN
2010-01-04 NaN  48200.0 NaN NaN NaN
2010-01-05 NaN  61400.0 NaN NaN NaN
2010-01-06 NaN  85600.0 NaN NaN NaN
2010-01-07 NaN  29500.0 NaN NaN NaN

[5 rows x 24000 columns]

In [23]:
data = data.swaplevel(1,0, axis=1)
data.head()

,AAON,AAWW,AB,ABCB,ABCL,ABCM,ABG,ABM,ABR,ACA,...,ZBRA,ZEN,ZG,ZI,ZION,ZM,ZNH,ZS,ZTO,ZTS
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,...,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,5.154801,37.250000,10.276358,6.426569,NaN,NaN,11.53,15.783669,0.815225,NaN,...,184800.0,NaN,NaN,NaN,3239800.0,NaN,48900.0,NaN,NaN,NaN
2010-01-04,5.287043,38.200001,10.386068,6.561203,NaN,NaN,11.83,16.242056,0.807032,NaN,...,168800.0,NaN,NaN,NaN,3974600.0,NaN,48200.0,NaN,NaN,NaN
2010-01-05,5.133642,40.310001,10.375102,6.633008,NaN,NaN,12.39,16.122883,0.786549,NaN,...,168800.0,NaN,NaN,NaN,5605500.0,NaN,61400.0,NaN,NaN,NaN
2010-01-06,4.929989,38.630001,10.378757,6.767643,NaN,NaN,12.76,16.122883,0.876674,NaN,...,385300.0,NaN,NaN,NaN,12615200.0,NaN,85600.0,NaN,NaN,NaN
2010-01-07,5.112483,38.950001,10.386068,6.992035,NaN,NaN,13.05,16.330469,0.921737,NaN,...,183600.0,NaN,NaN,NaN,24716800.0,NaN,29500.0,NaN,NaN,NaN

In [34]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

lightgdm_models = dict()

X = []
Y = []

STOCKS 

for year in range(2010,2020):
    start = datetime(year,1,1)
    end = datetime(year+1,12,31)
    futureend = datetime(year+2,12,31)
    subdata = data[start:end]
    for stock in ["TSLA"]:
        futurePrice = data[end:futureend][stock]["Adj Close"].iloc[-1]
        print(futurePrice)
        subdatastock = subdata[stock]
        # nextyearprice = subdatastock["Adj Close"].iloc[-1]
        y = futurePrice / subdatastock["Adj Close"].iloc[-1] # should predict how much it will grow
        X.append(subdatastock)
        Y += [y] * len(subdatastock)
        
for stock in 
X = pd.concat(X)
Y = pd.DataFrame(Y)
print(Y)
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, shuffle = True)
lgb_train = lgb.Dataset(x_train, y_train)
lgb_eval = lgb.Dataset(x_test, y_test, reference=lgb_train)

# fit
params = {
    'task': 'train', 
    'boosting': 'gbdt',
    'objective': 'regression',
    'num_leaves': 10,
    'learnnig_rage': 0.05,
    'metric': {'l2','l1'},
    'verbose': -1
}
 
model = lgb.train(params,
        train_set=lgb_train,
        # valid_sets=lgb_eval,
        early_stopping_rounds=30)

2.257999897003174
10.028667449951172
14.827333450317385
16.000667572021484
14.246000289916992
20.75666618347168
22.18666648864746
27.8886661529541
235.22332763671875
352.260009765625
287.8099975585937
             0
0     1.185924
1     1.185924
2     1.185924
3     1.185924
4     1.185924
...        ...
5554  0.817039
5555  0.817039
5556  0.817039
5557  0.817039
5558  0.817039

[5559 rows x 1 columns]
[1]	valid_0's l1: 1.51425	valid_0's l2: 4.54013
Training until validation scores don't improve for 30 rounds
[2]	valid_0's l1: 1.48967	valid_0's l2: 4.40992
[3]	valid_0's l1: 1.46854	valid_0's l2: 4.30443
[4]	valid_0's l1: 1.44908	valid_0's l2: 4.22019
[5]	valid_0's l1: 1.43269	valid_0's l2: 4.15733
[6]	valid_0's l1: 1.41627	valid_0's l2: 4.09853
[7]	valid_0's l1: 1.40276	valid_0's l2: 4.05331
[8]	valid_0's l1: 1.38943	valid_0's l2: 4.01668
[9]	valid_0's l1: 1.37789	valid_0's l2: 3.98638
[10]	valid_0's l1: 1.37048	valid_0's l2: 3.95593
[11]	valid_0's l1: 1.36371	valid_0's l2: 3.93502
[12]	valid_0's l1: 1.35749	valid_0's l2: 3.91935
[13]	valid_0's l1: 1.35244	valid_0's l2: 3.90332
[14]	valid_0's l1: 1.34786	valid_0's l2: 3.89116
[15]	valid_0's l1: 1.34377	valid_0's l2: 3.88534
[16]	valid_0's l1: 1.33896	valid_0's l2: 3.87809
[17]	valid_0's l1: 1.33627	valid_0's l2: 3.87851
[18]	valid_0's l1: 1.33465	valid_0's l2: 3.88345
[19]	valid_0's l1: 1.33479	valid_0's l2: 3.88174
[20]	valid_0's l1: 1.33489	valid_0's l2: 3.88502
[21]	valid_0's l1: 1.33253	valid_0's l2: 3.87726
[22]	valid_0's l1: 1.33207	valid_0's l2: 3.87561
[23]	valid_0's l1: 1.33138	valid_0's l2: 3.8775
[24]	valid_0's l1: 1.33277	valid_0's l2: 3.88444
[25]	valid_0's l1: 1.33328	valid_0's l2: 3.88555
[26]	valid_0's l1: 1.33333	valid_0's l2: 3.89112
[27]	valid_0's l1: 1.33384	valid_0's l2: 3.89405
[28]	valid_0's l1: 1.33335	valid_0's l2: 3.89269
[29]	valid_0's l1: 1.33265	valid_0's l2: 3.89269
[30]	valid_0's l1: 1.33443	valid_0's l2: 3.90128
[31]	valid_0's l1: 1.33462	valid_0's l2: 3.90273
[32]	valid_0's l1: 1.33467	valid_0's l2: 3.90774
[33]	valid_0's l1: 1.33479	valid_0's l2: 3.91462
[34]	valid_0's l1: 1.33656	valid_0's l2: 3.92823
[35]	valid_0's l1: 1.33703	valid_0's l2: 3.93641
[36]	valid_0's l1: 1.33725	valid_0's l2: 3.94198
[37]	valid_0's l1: 1.33781	valid_0's l2: 3.94443
[38]	valid_0's l1: 1.33723	valid_0's l2: 3.9472
[39]	valid_0's l1: 1.33669	valid_0's l2: 3.94983
[40]	valid_0's l1: 1.33761	valid_0's l2: 3.95622
[41]	valid_0's l1: 1.33815	valid_0's l2: 3.95996
[42]	valid_0's l1: 1.33786	valid_0's l2: 3.95868
[43]	valid_0's l1: 1.33877	valid_0's l2: 3.95844
[44]	valid_0's l1: 1.33875	valid_0's l2: 3.95966
[45]	valid_0's l1: 1.33996	valid_0's l2: 3.9734
[46]	valid_0's l1: 1.34023	valid_0's l2: 3.97847
[47]	valid_0's l1: 1.34067	valid_0's l2: 3.98038
[48]	valid_0's l1: 1.34136	valid_0's l2: 3.98809
[49]	valid_0's l1: 1.34197	valid_0's l2: 3.99013
[50]	valid_0's l1: 1.34265	valid_0's l2: 3.99536
[51]	valid_0's l1: 1.34367	valid_0's l2: 3.99888
[52]	valid_0's l1: 1.3436	valid_0's l2: 4.00486
Early stopping, best iteration is:
[22]	valid_0's l1: 1.33207	valid_0's l2: 3.87561
MSE: 3.88
RMSE: 1.97

/home/jguese/miniconda3/lib/python3.10/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "